@import url('https://fonts.googleapis.com/css?family=Lato:400,700,700i,900&display=swap');
/* Landing section CSS */

body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}

.offset::before{
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/* Navigation Style */
.navbar{
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .05rem;
  background: rgba(0,0,0,0.6)!important;
}

.navbar-brand{
  margin-left: 2rem;
}

.navbar-brand img {
  height: 2.8rem;
}

.navbar-nav{
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: #1ebba3;
}

/* Start of landing page CSS */

.home-inner{
  background-image: url(img/computers.png);
}

.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}

.caption h1 {
  font-size: 3.4rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.caption h3{
  font-size: 1.6rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}

.btn-lg{
  border-width: medium;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}

/* Welcome Styling */

.narrow{
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}

.narrow h1{
  font-size: 2.4rem;
}

.btn-secondary{
  border-width: medium;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: .6rem 1.2rem;
  margin: 1rem;
  color: white;
  background-color: #1ebba3;
  border-color: #1ebba3;
}

.btn-secondary:hover {
  background-color: #189582;
  border-color: #189582;
}

/* Services style */

.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
}

h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}

.heading-underline{
  width: 3rem;
  height: .2rem;
  background-color: #1ebba3;
  margin: 0 auto 2rem;
}

.service svg.svg-inline--fa{
  color: #1ebba3;
}

.service h3{
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
}

.service p{
  font-size: 1.1rem;
}

/* Other section style */
.fixed{
  background-image: url(img/apple.png);
  z-index: -1;
}

.dark{
  background-color: rgba(0,0,0,0.75);
  color: white;
  padding: 7rem 2rem;
}

.fixed-background h3 {
  margin-bottom: 2rem;
}

.fixed-background p {
  margin-top: 1.5rem;
}

/* mision section style */
.mision img{
  width: 100%;
  border-radius: 50%;
}

blockquote .svg-inline--fa{
  color: #1ebba3;
  margin: 0.8rem;
}

.mision-hr{
  border-top: .05rem solid #1ebba3;
}

/* Footer Style */
footer{
  background-color: #40474e;
  color: white;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
}

footer img{
  height: 12.0rem;
  margin: 1.5rem 0;
}

footer a {
  color: white;
}

footer svg.svg-inline--fa{
  font-size: 1.6rem;
  margin: 1.2rem 0.5rem 0 0;
}

footer svg.svg-inline--fa:hover{
  color: #1ebba3!important;
}

hr.socket{
  width: 100%;
  border-top: 0.2rem solid #666b71;
  margin-top: 3rem;
}

/* Start of media queries */

@media (max-width: 767px){
  .caption h1 {
    font-size: 2.0rem;
    letter-spacing: .15rem;
    padding-bottom: 0.5rem;
  }
  
  .caption h3{
    font-size: 1.1rem;
    padding-bottom: 1.2rem;
  
  }
  
  .btn-lg{
    padding: .5rem 1rem;
    font-size: 1rem;
  }

  .narrow h1{
    font-size: 1.5rem;
  }

  .mision img{
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
